*{
    font-size: 24px;
}

.details-box{
    width:50%;
    margin: 0 auto;
    margin-top: 3rem;
    padding-left: 1rem;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.details-box img{
    display: block;
    width: 50%;
    margin: 0 auto;
}

.details-box p{

    text-align: left;
}

span {

    text-align: right;
}

.bold{
    font-weight: bold;

}

.stat{

    background-color: #EEE;
    margin-bottom: 10px;
    margin-right: 10px;
}

.stat-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.stat-box:first-child p{
    margin-bottom: 10px;
    text-align: right;
    margin-right: 10px;

}

.colored-stat{
    background-color: lightblue;
}

.statFlex{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ability{
        color: #FFF;
        border: 1px solid #44685E;
        background: seagreen;
        margin-right: 10px;
        line-height: 1.3;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }